body {
    background: #00B4DB;
    background: -webkit-linear-gradient(to bottom,#00B4DB, #0083B0);
    background: linear-gradient(to bottom, #00B4DB, #0083B0);
    color: white;
    font-family: 'Oswald', sans-serif;
}

a,
a:active,
a:hover,
a:visited {
    color: white;
}

.app-thumbnail {
    width: 200px;
}

.app-store {
    height: 40px;
}

.app-store-unavailable {
    opacity: 0.333;
}

.social {
    height: 40px;
}
